<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>se.ejeklint.wldaemon</string>
	<key>CFBundleName</key>
	<string>wldaemon</string>
	<key>CFBundleVersion</key>
	<string>29</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier &quot;se.ejeklint.Cloudya&quot; and certificate leaf = H&quot;7EE8ED007191BA517AA70CA4B069EEC90061575A&quot;</string>
	</array>
</dict>
</plist>
